<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar usuário</title>
    <link rel="stylesheet" href="cadastro.css">
</head>
<body>
    <div class="box">
        <p class="title">Bem-vindo à nossa <span>plataforma</span><p>
        <p class="p">Crie sua conta e tenha acesso a todas as funcionalidades.</p>
    </div>
    <form id="cadastro" method="post">
        <h2>Criar Conta</h2>
        <p>Preencha os dados para criar sua conta</p>
        <div>
            <label for="inome">Nome Completo</label><br>
            <input type="text" name="nome" id="inome">
        </div>
    
        <div>
            <label for="iemail">Email</label><br>
            <input type="email" name="email" id="iemail">
        </div>

        <div>
            <label for="isenha">Senha</label><br>
            <input type="password" name="senha" id="senha">
        </div>

        <div>
            <label for="senha_confirm">Confirmar senha</label><br>
            <input type="password" name="senha_confirm" id="senha_confirm">
        </div>

        <div>
            <label for="itel">Telefone</label><br>
            <input type="text" name="telefone" id="itel">
        </div>

        <button type="submit" class="button">Cadastrar</button>
        <p>Já tem uma conta? <a href="../../login/index.html" target="_blank">Efetuar Login</a></p>
    </form>
    <script src="novo.js"></script>
    
</body>
</html>