<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar usuário</title>
    <link rel="stylesheet" href="../../css/agendamento.css">
</head>
<body>
    <form id="cadastro" method="post">
        <h2>CADASTRE-SE</h2>

        <p>
            <label for="inome">Nome:</label>
            <input type="text" name="nome" id="inome">
        </p>

        <p>
            <label for="iemail">Email:</label>
            <input type="email" name="email" id="iemail">
        </p>

        <p>
            <label for="isenha">Senha:</label>
            <input type="password" name="senha" id="senha">
        </p>

        <p>
            <label for="itel">Telefone:</label>
            <input type="text" name="telefone" id="itel">
        </p>
        <button type="submit" class="button">Cadastrar</button>
        <a class="login" href="../../login/index.html" target="_blank">Fazer Login</a>
    </form>
    <script src="novo.js"></script>
    
</body>
</html>