<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/agendamento.css">
</head>
<body>
    <form id="login">
        <h2>LOGIN</h2>
        <p>
            <label for="iemail">Email:</label>
            <input type="email" name="email" id="iemail">
        </p>

        <p>
            <label for="isenha">Senha:</label>
            <input type="password" name="senha" id="isenha">
        </p>
        
        <a class="p" href="../usuarios/cadastrar/index.html" target="_blank">Cadastre-se</a>
        

        <a class="senha" href="../usuarios/reset-senha/index.html" target="_blank">Esqueci a senha</a>
        <button type="submit" class="button">Entrar</button>
    </form>
    
</body>
</html>