<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <form id="login" method="post">
        <h2>Entrar</h2>
        <p>Faça login em sua conta para continuar</p>
        <div>
            
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email">
            
        </div>

        <div>
            
            <label for="senha">Senha</label><br>
            <input type="password" name="senha" id="senha">
            
        </div>
        
        <button type="submit" class="button">Entrar</button><br>

        <a class="reset" href="../usuarios/reset-senha/index.html">Esqueceu sua senha?</a><br>

        <div class="linha"><span>ou</span></div>

        <div class="cadastro"><a href="../usuarios/cadastrar/index.html">Criar nova conta</a></div>

        <div id="message"></div>
        
    </form>
    <script src="login.js"></script>
</body>
</html>