<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Agendamento</h1>
    </header>

    <main>
        <form id="agenda">
            <p>
                <label for="inome">Nome:</label>
                <input type="text" name="nome" id="inome" required autocomplete="on">
            </p>

            <p>
                <label for="iemail">Email:</label>
                <input type="text" name="email" id="iemail" required autocomplete="on">
            </p>

            <p>
                <label for="idata">Data:</label>
                <input type="date" name="data" id="idata" required>
            </p>

            <p>
                <label for="ihorario">Horário:</label>
                <input type="time" name="horario" id="ihorario" required>
            </p>

            <p>
                <label for="iservico">Serviço:</label>
                <select name="servico" id="iservico">
                <option value="Podologia">Podologia</option>
                <option value="Curativo">Curativo</option>
                </select>
            </p>

            <button type="submit" class="button">Agendar</button>

            <div id="alerta" class="alerta"></div>
        </form>
    </main>
    <script src="../javascript/agendamento.js"></script>
</body>
</html>