@charset "UTF-8";

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f9fbff;
}


.container {
  display: flex;
  gap: 20px; /* espaço entre as divs */
  flex-wrap: wrap; /* permite quebrar linha quando não couber */
}

.box {
  flex: 1; /* ocupa espaço igual */
  min-width: 250px; /* largura mínima antes de quebrar */
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.box > p{
  color: gray;
}

/* Se a tela for menor que 600px -> empilha as divs */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .newagenda{
    min-width: 95%;
  }

}

header{
  margin: 10px
}

.newagenda{
  /*flex: 1; /* ocupa espaço igual */
  min-width: 220px; /* largura mínima antes de quebrar */
  padding: 10px;
  border-radius: 10px;
  background-color: lightseagreen;
  height: 20px;
  text-align: center;
  margin: 10px;
  margin-top: 35px;
}

.newagenda > a{
  text-decoration: none;
  color: white;
}

.status{
  display: flex;
  gap: 10px; /* espaço entre as divs */
  flex-wrap: wrap; /* permite quebrar linha quando não couber */
}

.div{
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.304);
  border-radius: 10px;
  flex: 1; /* ocupa espaço igual */
  min-width: 250px; /* largura mínima antes de quebrar */
  height: 80px;
  margin: 10px;
  padding-left: 10px;
  display: flex;              /* ativa flexbox */
  align-items: center;        /* centraliza verticalmente */
  text-align: left;
}

.div > p > span{
  font-size: 25px;
  color: green;
  font-weight: bold;
}

.div > p{
  color: gray;
}

.div2{
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.304);
  border-radius: 10px;
  flex: 1; /* ocupa espaço igual */
  min-width: 250px; /* largura mínima antes de quebrar */
  height: 80px;
  margin: 10px;
  padding-left: 10px;
  display: flex;              /* ativa flexbox */
  align-items: center;        /* centraliza verticalmente */
  text-align: left;
}

.div2 > p{
  color: gray;
}

.div2 > p > span{
  font-size: 25px;
  color: orange;
  font-weight: bold;
}

.div3{
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.304);
  border-radius: 10px;
  flex: 1; /* ocupa espaço igual */
  min-width: 250px; /* largura mínima antes de quebrar */
  height: 80px;
  margin: 10px;
  padding-left: 10px;
  display: flex;              /* ativa flexbox */
  align-items: center;        /* centraliza verticalmente */
  text-align: left;
}

.div3 > p{
  color: gray;
}

.div3 > p > span{
  font-size: 25px;
  color: purple;
  font-weight: bold;
}

.div4{
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.304);
  border-radius: 10px;
  flex: 1; /* ocupa espaço igual */
  min-width: 250px; /* largura mínima antes de quebrar */
  height: 80px;
  margin: 10px;
  padding-left: 10px;
  display: flex;              /* ativa flexbox */
  align-items: center;        /* centraliza verticalmente */
  text-align: left;
}

.div4 > p{
  color: gray;
}

.div4 > p > span{
  font-size: 25px;
  color: red;
  font-weight: bold;
}

.filtros {
  display: flex;
  gap: 20px;         /* espaço entre os elementos */
  flex-wrap: wrap;   /* permite quebrar linha se necessário */
  margin: 10px;
  align-items: center; /* centraliza verticalmente os elementos */
}

.filtros input {
  flex: 3;              /* ocupa o máximo disponível */
  min-width: 200px;     /* largura mínima para telas pequenas */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.filtros select {
  width: 250px;         /* largura fixa para select */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  color: black;
}

/* Responsivo para telas menores */
@media (max-width: 600px) {
  .filtros {
    flex-direction: column;  /* empilha os elementos */
    gap: 10px;
  }

  .filtros input{
    min-width: 95%;
  }

  .filtros select{
    min-width: 100%;
  }
}


