<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Menu lateral fixo à esquerda -->
    <nav class="side-menu">
        <div class="side-menu-limpo" id="sideMenuToggle">☰</div>
        <ul class="side-menu-links" id="sideMenuLinks">
            <li><a href="../novo/index.html">Novo Agendamento</a></li>
            <li id="menu-bloquear"><a href="../bloquear/index.html">Bloquear Agenda</a></li>
            <li id="menu-anamnese"><a href="../anamnese/index.html">Anamnese</a></li>
            <li id="menu-ficha"><a href="../anamnese/buscar/index.html">Fichas de Anamnese</a></li>
            <li id="menu-financeiro"><a href="../financeiro/index.html">Financeiro</a></li>
            <li id="menu-usuarios"><a href="../usuarios/listar/index.html">Usuários</a></li>
            <li><a href="../usuarios/perfil/index.html">Perfil</a></li>
            <li><button class="btn-sair" title="Logout" id="btnLogoutSide">Sair ➜]</button></li>
        </ul>
    </nav>

    <div class="container">
        <header class="header">
            
            <h1><span class="icon">📅</span> Agendamentos</h1>
            <p>Gerencie todos os seus agendamentos em um só lugar</p>
        </header>

        <div class="filters">
            <input type="text" name="status" id="search" placeholder="Buscar por cliente ou serviço...">
            <select id="periodFilter">
                <option value="all">Todos os agendamentos</option>
                <option value="day">Agenda do dia</option>
                <option value="week">Agenda da semana</option>
                <option value="month">Agenda do mês</option>
            </select>
        </div>

        

        <div id="agendamentos"></div>
    </div>
    
    <div id="form-editar">
        <form>
            <h2>Editar Agendamento</h2>
            <input type="hidden" id="id" name="id">
            <label>Nome</label><br>
            <input type="text" id="nome" name="nome"><br>
            <label>Data</label><br>
            <input type="date" id="data" name="data"><br>
            <label>Hora</label><br>
            <select id="horario" name="horario">
                <option>Selecione o horário</option>
            </select><br>
            <label for="telefone">Telefone</label><br>
            <input type="text" id="telefone" name="telefone"><br>
            <label>Email</label><br>
            <input type="email" name="email" id="email"><br>
            <label for="status">Status</label><br>
            <select name="status" id="status">
                <option>Confirmado</option>
                <option>Concluído</option>
            </select><br>
            <button class="salv" type="button" onclick="salvar()">Salvar</button>
            <button class="can" type="button" onclick="cancelar()">Cancelar</button>
        </form>
    </div>
    <!-- Tela de carregamento -->
    <div id="loading-overlay">
        <div class="spinner"></div>
    </div>
    <script src="script.js"></script>
</body>
</html>
