<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar senha</title>
    <link rel="stylesheet" href="../../css/reset-senha.css">
</head>
<body>
    <form id="resetar" method="post">
        <h3>REDEFINIR SENHA</h3>

        <p>Digite seu email e enviaremos uma nova senha.</p>

        <div>
            <label for="iemail">Email</label><br>
            <input type="email" name="email" id="iemail">
        </div>
        
        <button type="submit" class="button">Enviar</button><br>
        <div class="return">
            <a href="../../login/index.html" target="_blank">Voltar ao login</a>
        </div>
    </form>
    <script src="resetar.js"></script>
</body>
</html>