<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar senha</title>
    <link rel="stylesheet" href="../../css/agendamento.css">
</head>
<body>
    <form id="resetar" method="post">
        <h2>ALTERAR SENHA</h2>

        <p>
            <label for="iemail">Email:</label>
            <input type="email" name="email" id="iemail">
        </p>
        <p>
            <label for="isenha">Senha:</label>
            <input type="password" name="senha" id="senha">
        </p>
        <p>
            <label for="irepeat">Confirmar senha:</label>
            <input type="password" name="repeat" id="irepeat">
        </p>
        <button type="submit" class="button">Confirmar</button>
        <p class="return"><a href="../../login/index.html" target="_blank">Login</a></p>
    </form>
    <script src="resetar.js"></script>
</body>
</html>