<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link rel="stylesheet" href="../css/agendamento.css">
</head>
<body>
    <form id="agenda">
        <h2>Novo agendamento</h2>
 
        <div>
            <label for="inome">Nome:</label><br>
            <input  class="agenda" type="text" name="nome" id="inome" required autocomplete="on">
        </div>

        <div>
            <label for="idata">Data:</label><br>
            <input class="agenda" type="date" name="data" id="idata" required>
        </div>

        <div>
            <label for="ihorario">Horário:</label><br>
            <input class="agenda" type="time" name="horario" id="ihorario" required>
        </div>

        <div>
            <label for="iservico">Serviço:</label><br>
            <select name="servico" id="iservico">
            <option value="Podologia">Podologia</option>
            <option value="Curativo">Curativo</option>
            </select>
        </div>

        <button type="submit" class="button">Agendar</button>
    </form>
    <script src="agendamento.js"></script>
</body>
</html>