<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda da semana</title>
    <link rel="stylesheet" href="../../css/atualizar.css">
</head>
<body>
    <h2>AGENDAMENTOS DA SEMANA</h2>
    <!--<div id="lista"></div>-->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="border">Nome</th>
                    <th>Data</th>
                    <th>Horário</th>
                    <th>Serviço</th>
                    <th class="border2">Ação</th>
                </tr>
            </thead>
            <tbody id="lista">
                <!-- Linhas do JS entram aqui -->
            </tbody>
        </table>
    </div>


    <div id="form-editar">
        <form>
            <h3>Editar Agendamento</h3>
            <input type="hidden" id="id">
            <label>Nome:</label>
            <input type="text" id="nome"><br><br>
            <label>Data:</label>
            <input type="date" id="data"><br><br>
            <label>Hora:</label>
            <input type="time" id="horario"><br><br>
            <button type="button" onclick="salvar()">Salvar</button>
            <button onclick="cancelar()">Cancelar</button>
        </form>
    </div>

    <div id="alert" class="alert"></div>
    <script src="../../javascript/buscar/semana.js"></script>
</body>
</html>