<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloqueio de agenda</title>
    <link rel="stylesheet" href="../css/agendamento.css">
</head>
<body>
   <h2>BLOQUEAR AGENDA</h2>
    <form id="agenda">
        <p>
            <label for="idata">Data:</label>
            <input type="date" name="data" id="idata" required>
        </p>

        <p>
            <label for="ihorario">Horário:</label>
            <input type="time" name="horario" id="ihorario" required>
        </p>

        <button type="submit" class="button">Bloquear</button>
    </form>
    <script src="../javascript/bloquear/bloquear.js"></script>
</body>
</html>