<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloqueio de agenda</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header>
        <!-- Menu lateral fixo à esquerda -->
        <nav class="side-menu">
            <div class="side-menu-limpo" id="sideMenuToggle">☰</div>
            <ul class="side-menu-links" id="sideMenuLinks">
                <li><a href="../agenda/index.html">Agenda</a></li>
                <li><a href="../novo/index.html">Novo Agendamento</a></li>
                <li><a href="../usuarios/listar/index.html">Usuários</a></li>
                <li><a href="../usuarios/perfil/index.html">Perfil</a></li>
                <button class="btn-sair" title="Logout" id="btnLogoutSide">Sair ➜]</button>
            </ul>
        </nav>
        <h1>🔒 Bloquear Agenda</h1>
        <p>Gerencie os períodos indisponíveis da sua agenda de forma fácil e organizada</p>
    </header>
    <main>
        <form id="agenda" method="post">
            <h2>+ Criar Bloqueio</h2>
            <p>Escolha o período a ser bloqueado</p>
            <label for="data">Data</label><br>
            <input type="date" name="data" id="data"><br>
            <label for="horario">Hora</label><br>
            <select name="horario" id="horario">
                <option>Selecione o horário</option>
            </select><br>
            <label for="obs">Motivo do Bloqueio</label><br>
            <textarea name="obs" id="obs" placeholder="Ex: Reunião interna, compromisso pessoal, feriado..."></textarea><br>

        
            <button type="submit" class="button">+ Adicionar Bloqueio</button>
        </form>
        <div id="bloq">
            <h2><span>🕓</span>Períodos Bloqueados</h2>
            <p>Lista de todos os bloqueios ativos na agenda do mês</p>
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>